@font-face {
    font-family: avs;
    src: url(./AverageSans-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: avs;
    /* background-color: #0F0D0D; */
    a{
        text-decoration: none;
        color: black;
    }

}
html , body{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}
.cur{
    height: 15px;
    width: 15px;
    background-color: #ff8400;
    mix-blend-mode: difference;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    transform: translate(-50%,-50%);
    pointer-events: none;
    transition: background-img ease-out 0.5s;
    background-position: center;
    background-size: cover;
    

}
.main{
    background-color: #000000;
    color: white;
    
}

nav{

    height: auto;
    width: 100%;
    /* background-color: bisque; */
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vh ;
    background-color: transparent;
    color: white;
    mix-blend-mode: difference;

    position: fixed;
    z-index: 99;

}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.logo img{
    height: 80px;
    padding: 10px 0 10px 0 ;
    
}
.login{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.login img{
    height: 100%;
    opacity: 0;
}
.more{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:10px;
}
.more a{
    font-weight: 200;
    color: white;

}
.more h4{
    font-size: 15px;
    font-weight: 200;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    transition: all ease-out 0.5s;
}
.more a:hover h4{
    color: #ff8400;
    border-bottom: 1.5px solid #ff8400;
}
.more a.active h4 {
    color: #ff8400;
    border-bottom: 1.5px solid #ff8400;
  }
.circle{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    
}

.page1{
    min-height: 100vh;
    width: 100%;
    padding: 0 10vh;
    position: relative;
    z-index: 10;
    overflow: hidden;

    /* background-color:violet ; */
}
.main-txt{
    padding: 25vh 0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
   
}
.main-txt h1{
    
    font-size: 6vw;
    font: weight 600px;;
    text-align: center;
}
.main-txt h2{
    font-size: 6vw;
    font: weight 600px; ;
    text-align: center;
    /* color: #ff8400; */
}

.video-con{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* background-color: blue; */
}
.video-con video{
    width: 80%;
    object-fit: contain;
    border-radius: 5px;

}
.page2{
    min-height: 100vh;
    width: 100%;
    padding: 0 10vh;
    /* background-color: white; */
    color: #0F0D0D;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.p2-text{
    width:100%;
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    flex-direction: column;
    padding-bottom: 5vh;
    border-bottom: 1px solid #0F0D0D;

    /* background-color: darkmagenta; */
}
.p2-text h1{
    margin-top: 15vh;

    font-size: 5vw;
    font-weight: 400;
    text-align: left;
}
.p2-con{
    display: flex;
    margin-top: 15vh ;
    /* align-items: center; */
    justify-content: space-between;
    flex-wrap: wrap;

    
}
.p2-con h2{
    width: 50vh;
    font-size: 5vh;
    
}
.p2-con h4{
    width: 40vh;
    text-align: justify;
    font-size: 3vh;
    font-weight: 400;
}
.abut-btn{
    height: 5vh;
    width: 100%;
    background-color: black;
    border-radius: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    transition: all ease-out 0.5s;

}
.abut-btn a{
    text-decoration: none;
    color: #ffffff;
    
    font-size: 1.8vh;
}

.abut-btn:hover{
    background-color: #ff8400;
}
.page3{
    min-height: 100vh;
    /* background-color: bisque; */
    padding: 0 10vh;
    color: #0F0D0D;
    position: relative;
    z-index: 10;
}
.p3-text{
    margin-bottom:5vw ;
}
.p3-text h1{
    margin-top: 5vh;

    font-size: 6vw;
    font-weight: 400;
    text-align: left;
}
.work-con{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5vw;
    
}

.video1{
    border-bottom: 1px solid #000;
    display: flex;
    flex-direction: column;
    
}
.video1 video{
    height: 30vw;
    width: 40vw;
    object-fit: cover;
    border: solid 1px #000000;
    border-radius: 15px 15px 0 0;
}


.work-text{
    /* height: 6vw; */
    text-align: right;
    padding:1vw 0; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: #4b4b4b47; */

    
}
.visit-btn{
    height: 8vh;
    width: 11vh;
    border-radius: 8px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #ffffff;
    transition: all ease-out 0.5s;
}
.visit-btn:hover{
    background-color: #ff8400;
}
.visit-btn a{
    color: #ffffff;
    font-size: 2.5vh;
    font-weight: 200;
    text-align: center;
}
.work-text h4{
    font-size: 1.8vw;
    font-weight: 600;
    padding-bottom: .5vw;
}
.work-text h5{
    font-size: 1vw;
    font-weight: 100;
    line-height: 2vh;
}

.more_work{
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.more_work h4{
    color: #ffffff;
    height: 2.5vw;
    width: 10vw;
    background-color: #000000;
    text-align: center;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border: solid .5px #ffffff;
    transition: all ease-out 0.5s;

}
.more_work h4:hover{
    background-color: #ff8400;
}
.page4{
    min-height:100vh;
    position: relative;
    z-index: 10;
    color: #ffffff;
    padding: 15vh 10vh ;
    /* margin-top: 20vh; */
    border-bottom: 1px solid white;
    
}

.p4-text h1{
    margin-bottom: 4vw ;

    font-size: 6vw;
    font-weight: 400;
    text-align: left;
}

.srvdiv{
    /* background: #3d3d3d; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2vw;
    padding-bottom: 5vh;
}

.srvcard{
    /* height: 26vw; */
    width: 40vw;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.srvtop{
    background: #ffffff;
    width: 38vw;
    height: 20vw;
    border-radius: 15px;
    margin: 1vw ;
    margin-top: 3vw;
    overflow: hidden;
    /* border: solid 1px #000000; */
}

.srvtop video{
    height: 20vw;
    width: 38vw;
    object-fit: cover;
}

.srvtop img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    /* filter: invert(); */
}

.srvbtm{
    height: 6vw;
    width: 38vw;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin-bottom: 1vw;

}
.srvdescription{
    width: 25vw;
    height: auto;
}
.srvdescription h2{
    color: #0F0D0D;
    font-size: 2vw;
    font-weight: bold;
    padding-left: 4px;

}

.srvdescription p{
    color: #0F0D0D;
    font-size: medium;
    padding-left: 4px;

}

.srvbtn{
    height: 4vw;
    width: 6vw;
    border-radius: 15px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all ease-out 0.5s;

}
.srvbtn:hover{
    background-color: #ff8400;
}
.srvbtn img{
   
}

.db{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5vh 0;
}
.db h5{
    font-weight: 200;

}

.elem{
    
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}
.elem img{
    position: absolute;
    opacity: 0;
    z-index: 1;
    transition: all ease-out 0.5s;
    transform: translateY(10%) rotate(2deg);

}
.ei1{
    left: 12%;
    height: 35vh;

}
.ei2{
    right: 2%;
    height: 35vh;
    margin-top: 45vh;
}
.ei3{
    left: 12%;
    margin-top: 25vh;
    height: 55vh;


}
.ei4{
    margin-bottom: 35vh;
    right: 10%;
    height: 50vh;

}
.ei5{
    margin-bottom: 55vh;
    left: 12%;
    height: 35vh;


}
.ei6{
    right: 5%;
    height: 55vh;

}

.elem-text{
    /* background-color: rgb(255, 0, 238); */
    height: 7.5vw;
    overflow: hidden;
    z-index: 3;
}
.elem-text h1{
    font-size: 7vw;
    transition: all ease-out 0.5s;
}
.elem:hover h1{
    transform: translateY(-100%);
    color: #EDBFFF;
    
}
.elem:hover img{
    opacity: 1;
    transform: translateY(0) rotate(0);

    
}
.page5{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 10;
    color: #ffffff;
    padding: 5vh 10vh;
    display: flex;
    align-items: start;
    justify-content: flex-start;
    flex-direction: column;
    
}
.p4-text h2{
    margin-bottom: 4vw ;

    font-size: 6vw;
    font-weight: 400;
    text-align: left;
}
.form-con{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.contact-form {
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ffffff4f;
    width: 100%;
    max-width: 400px;
}

.contact-form h2 {
    margin-bottom: 15px;
    font-size: 24px;
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
    display: inline-block;
}

.contact-form label {
    display: block;
    margin: 10px 0 5px;
    font-size: 14px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #000000;
    color: #fff;
    font-size: 14px;
}

.contact-form input:focus, .contact-form textarea:focus {
    outline: none;
    border-color: #fff;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #ff8400;
    color: #fff;
}

.contact-form small {
    display: block;
    margin-top: 10px;
    color: #bbb;
    font-size: 12px;
}

.p5-img{
    height: 70vh;
    width: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #EDBFFF; */
    padding: 5vh 0;
}

.p5-img img{
    height: 70vh;
    width: 70vh;
    object-fit: cover;
    /* filter: hue-rotate(180deg); */
}


.clint{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px  solid white;
    padding: 10vh 0;

}
.clint h1{
    font-size: 4vw;
}
.clint span{
    color: #EDBFFF;
}
.view-client{
    border-radius: 2vh;
    padding:1vh ;
    border: 1px solid #ffffff;
    
}
.box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    border-bottom: 1px  solid white;
    
}
.page5 h4{
    font-size: 1.4vw;
}

.page5 h5{
    font-size: 1vw;
    font-weight: 400;
}

footer{
    max-height: 50vh;
    background-color: #ffffff;
    padding: 0 10vh ;
    color: #0F0D0D;
}

.f-con{
    height: 50vh;

}
.f-top{
    height: 30vh;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.f-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    /* background-color: #ff9500; */
    overflow: hidden;
}
.f-logo h4{
    font-size: 15vw;
    font-weight: 600;
}
.f-txt{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    cursor: pointer;
}
.f-txt h5{
    font-size: 1.2vw;
    font-weight: 200;
    transition: all .5s ease-out;

}
.f-txt span{
    font-size: 1vw;
    font-weight: 200;
    color: #000000;
    opacity: 0;
    transition: all .5s ease-out;
}

.f-txt h5:hover{
    text-decoration: underline #ff8400;
    color: #ff8400;

    span{
        opacity: 100%;
        color: #ff8400;

    }
}

.f-mid{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content:flex-start
}

.sm-icon{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh;
}

.sm-icon img{
    height: 3.5vh;
}

.f-btm{
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5vw;
}

.f-btm img{
    height: 2vh;
}
.f-btm h5{
    font-size: 1vw;
    font-weight: 200;
}
















@media screen and (max-width:767px) {

    nav{
        padding: 0 1vh ;
    }
   
    .logo img{
        height: 50px;
        padding: 5px 0 5px 0 ;
        
    }
    .login img{
        height: 30px;
        opacity: 100;
        
    }
    
    .page1{
        min-height:50vh;
        overflow: hidden;
        padding: 0 5vh ;
        

    }
    .main-txt{
        
        padding: 10vh 7vh 5vh 7vh;
        
       
    }
    .more{
        display: none;
    }
    .main-txt h1{
    
        font-size: 7vw;
        font-weight: 600;
        text-align: center;
    }
    .main-txt h2{
        
        font-size: 7vw;
        font-weight: 600;
        text-align: center;
    }
    .video-con {
        padding-bottom: 10vh;
    }
    .page2{
        min-height: auto;
        background-color: white;
        padding: 0 5vh ;

    }
    .p2-text{
        border: none;
    }
    .p2-text h1{
        margin-top: 5vh;
    
        font-size: 6vw;
        font-weight: 400;
        text-align: left;
    }
    .p2-con{
        display: flex;
        margin-top: 5vh ;
        /* align-items: center; */
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 10vh;
    
        
    }
    .p2-con h2{
        width: 100%;
        font-size: 2vh;
        padding-bottom: 5vh;
        
    }
    .p2-con h4{
        width: 100%;
    
        font-size: 2vh;
        font-weight: 400;
    }
    .page3{
        min-height: 100vh;
        /* background-color: bisque; */
        padding: 0 5vh ;

        color: #0F0D0D;
        position: relative;
        z-index: 10;
    }
    .p3-text h1{
        
        font-size: 8vw;
        
    }
    /* .page3 img{
        height: auto;
        width: 100%;
    } */
    .work-con{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .visit-btn{
        height: 6vh;
        width: 9vh;
        border-radius: 6px;
        background-color: #000000;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border: 1px solid #ffffff;
    }
    .visit-btn a{
        color: #ffffff;
        font-size: 2vh;
        font-weight: 200;
        text-align: center;
    }
    .video1 video{
        height: 50vw;
        width: 80vw;
        border-radius: 10px 10px 0 0;

    }
    /* .work-text{
        padding-bottom: 5vh;
    } */
    .work-text h4{
        font-size: 2.5vh;
        font-weight: 200;
    }
    .work-text h5{
        font-size: 1.5vh;
        font-weight: 100;
        line-height: 2vh;
    }

    .more_work{
        height: 20vw;
       
    }
    .more_work h4{
       
        height: 9vw;
        width: 30vw;
        font-size: smaller;
        font-weight:200;
        
    }







    .page4{
        min-height: auto;
        background-color: #000000;
        padding: 10vh 5vh ;

    }

    .srvdiv{
        justify-content: center;
        gap: 5vw;
    }

    .srvcard{
        width: 80vw;
        border-radius: 10px;
        
    }

    .srvtop{
        width: 72vw;
        height: 38vw;
        margin-top: 3.5vw ;
        border-radius: 10px;


    }

    .srvtop video{
        height: 38vw;
        width: 72vw;
    }

    .srvbtm{
        height: 12vw;
        width: 72vw;
        margin-bottom: 3.5vw ;

        
    
    }

    .srvdescription{
        width: 55vw;
        
    }
    .srvdescription h2{
        font-size: 4vw;
        padding-left: 4px;
    
    }
    
    .srvdescription p{
        font-size:2.5vw;
        padding-left: 4px;
    
    }

    .srvbtn{
        height: 8vw;
        width: 10vw;
        border-radius: 5px;
        background-color: #000000;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .srvbtn img{
        height: 2vw;
    }

    /* .elem img{
        height: 10vh;
    } */
    .ei1{
        left: 0;
        height: 10vh;
    
    }
    .ei2{
        right: 0;
        height: 10vh;
        margin-top: 0;
    }
    .ei3{
        left: 0;
        margin-top: 0;
        height:10vh;
    
    
    }
    .ei4{
        margin-bottom: 0;
        right: 0;
        height: 10vh;
    
    }
    .ei5{
        margin-bottom: 0;
        left: 0;
        height: 10vh;
    
    
    }
    .ei6{
        right: 0;
        height: 10vh;
    
    }
    .page5{
        background-color: #000000;
        padding: 5vh 5vh 0 5vh;

    }

    .page5 h4{
        font-size: 3vw;
        font-weight: 200;

    }
    
    .page5 h5{
        font-size: 2vw;
        font-weight: 100;
    }
    .p5-img{
        display: none;
    }
    footer{
        padding: 0 5vh!important; 
    }
    .f-top{
        flex-direction: column;
        align-items:center;
        justify-content: center;
    }
    .f-logo{
        /* padding-bottom: 5vh; */
    }
    .f-logo h4{
        font-size: 22vw;
        font-weight: 600;
    }
    .f-txt{
        align-items:center;
        justify-content: center;
    }
    .f-txt h5{
        font-size: 4vw;
        font-weight: 200;
    }
    .f-txt span{
        font-size: 4vw;
    }
    .f-mid{
        justify-content:center
    }
    
    .f-btm{
        gap: 1vw;
    }
    .f-btm img{
        height: 1.5vh;
    }
    .f-btm h5{
        font-size: 3vw;
        font-weight: 200;
    }
}